# Project Walk Through

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

## Data: Graduate Admissions

In [4]:
df = pd.read_csv("grad_admit_.csv")

df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,GPA,Research,Admitted
0,337,118,4,4.5,4.5,3.89,1,1
1,324,107,4,4.0,4.5,3.58,1,1
2,316,104,3,3.0,3.5,3.23,1,0
3,322,110,3,3.5,2.5,3.50,1,1
4,314,103,2,2.0,3.0,3.31,0,0

---

---

### Separate the values into X (features) and y (target).

In [5]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [6]:
X[:5]

array([[337.  , 118.  ,   4.  ,   4.5 ,   4.5 ,   3.89,   1.  ],
       [324.  , 107.  ,   4.  ,   4.  ,   4.5 ,   3.58,   1.  ],
       [316.  , 104.  ,   3.  ,   3.  ,   3.5 ,   3.23,   1.  ],
       [322.  , 110.  ,   3.  ,   3.5 ,   2.5 ,   3.5 ,   1.  ],
       [314.  , 103.  ,   2.  ,   2.  ,   3.  ,   3.31,   0.  ]])

In [5]:
y[:5]

array([1, 1, 0, 1, 0])

---

# Machine Learning

### Split the data into separate train and test sets

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.3)

### Standardize the data

In [7]:
from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()

X_train_std = stdsc.fit_transform(X_train)
X_test_std = stdsc.transform(X_test)

---

# Machine Learning Algorhithms

### Logistic Regression

In [8]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
log_reg.fit(X_train_std, y_train)
log_reg.score(X_test_std, y_test)

0.9

### Random Forest

In [10]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train_std, y_train)
rf.score(X_test_std, y_test)

0.8583333333333333

### K-nearest Neighbors

In [11]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train_std, y_train)
knn.score(X_test_std, y_test)

0.8666666666666667